.info{
  width: 100%;
}
.col-md-3,.col-md-6{
  margin: 4%;
}
.col-xs-11{

}
.col-md-3 img{
  width: 100%;
  max-height: 23vh;
}
.info .number{
  font-size: 25px;
  margin-top: 3%;
}
.info button{
  font-size: 15px;
  padding: 5px 8px;
}
 .full{
   width: 90%;
   margin-bottom: 2%;
 }
p{
  color: firebrick;
}
.list-group-item{
  margin-bottom: 2%;
}
.purchase{
  margin-bottom: 2%;
}
